@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

:root{
    --lightGrey: #DEDFDA;
    --burntOrange: #C56A19;
    --sageGreen: #b0bb9d;
    --olive:#a0ac8b;
    --darkerOlive: #939e7e;
    --jadeGreen: #387A5C;
    --emerald: #013832;
}

body{
    margin: 0;
    padding:0;
    background-color: var(--lightGrey);
    font-family: Cormorant, Palatino, Consolas, "Courier New", monospace, 'Times New Roman', Times, serif;
    font-weight: 600;
}

#container{
    display:flex;
    justify-content: space-around;
    background-color: var(--sageGreen);
    border-radius: 10px;
    margin: 10% 5% 10% 5%;
}

#leftside, #rightside{
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-radius: 10px;
    border:2px double #387A5C;
    padding: 2%;
}
#leftside{
  width:10%;
  justify-content: flex-start;
}
#rightside{
  width: 75%;
}

button{
    font-family: Cormorant;
    font-weight: 600;
    font-size: 1.0rem;
    background-color: var(--olive);
    border:2px double #387A5C;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

button:hover{
    background-color: var(--jadeGreen);
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--jadeGreen);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal_content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--sageGreen);
  border:2px double #387A5C;
  border-radius: 3%;
  margin:3%;
  }

#modal-header{
  display: flex;
  align-content: flex-end;
  font-weight: 600;
  font-size: 1.2rem;
  width:fit-content;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 0px;
}
#modal_form{
  display:flex;
  justify-content: space-around;
  background-color: var(--sageGreen);
  border-radius: 10px;

}
 /* The Close Button */
 .close {
    display:flex;
    font-size: 40px;
    font-weight: bold;
  
  }

  .close:hover,
  .close:focus {
    color: var(--burntOrange);
    text-decoration: none;
    cursor: pointer;
  }

#modal_header{
  background-color: var(--sageGreen);
  border: 2px double #387A5C;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0.5%;
  padding-left: 2%;
  background-color: var(--olive);
  border-radius: 5px;
  font-size: 1.0rem;
}
li:hover{
  background-color: var(--jadeGreen);
}
input[type=text] {
  font-family: Cormorant;
  width: 100%;
  padding: 2% 2%;
  margin: 1%;
  box-sizing: border-box;
}
input[type=text]:focus {
  border: 3px solid var(--burntOrange);
  font-weight: 600;
}

textarea{
  font-family: Cormorant;
  width: 100%;
  padding: 2% 2%;
  margin: 1%;
  box-sizing: border-box;
}
textarea:focus{
  border: 3px solid var(--burntOrange);
  font-weight: 600;
}

#priority_btn, #temporal_btn{
  font-family: Cormorant;
  font-weight: 600;
  background-color: var(--olive);
  border:2px double #387A5C;
  border-radius: 10px;
  padding:2%;
  margin: 1%;
  font-size: 0.8rem;
}



#create_button{
  display:inline-block;
  text-align: center;
  width:20%;
  margin: 1% 40%;

}


.collapsible {
  cursor: pointer;
  text-align: left;
  outline: none;
  font-size: 0.9em;
}

#priority_btn:hover, #temporal_btn:hover, .collapsible:hover, .active{
  background-color: var(--jadeGreen);
}

/*
.active, .collapsible:hover {
  background-color: var(--jadeGreen);
}
*/

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--jadeGreen);
}

.priority_set{
  background-color: var(--jadeGreen);
}

.notes_item{
  background-color: var(--olive);
  margin: 0.2em;
  padding: 0.2em 0.3em 0.2em 0.3em;
  border-radius: 5px;
}
.notes_item:hover{
  background-color: var(--darkerOlive);
}
.notes_title, .notes_description{
  margin: 0.5%;
  padding-left: 2%;
  padding-right:2%;
  border-radius: 5px;
  /*
  background-color:var(--sageGreen);
  */
}
